{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "user_id": $util.dynamodb.toDynamoDBJson($ctx.args.input.user_id),
    "file_path": $util.dynamodb.toDynamoDBJson($ctx.args.input.file_path)
  },
  "attributeValues": {
    "file_name": $util.dynamodb.toDynamoDBJson($ctx.args.input.file_name),
    "created_at": $util.dynamodb.toDynamoDBJson($util.time.nowEpochMilliSeconds()),
    "type": $util.dynamodb.toDynamoDBJson($ctx.args.input.type)
  },
}
